<div class="hero-block image-text">
  <div class="hero-image">
  	<img src="{{ image }}" alt="{{ image-alt }}">
  </div>
  
  <div class="hero-text">
	<h1 class="entry-title ">{{ heading }}</h1>
	<p>{{ text }}</p>
	<a href="{{ button-link }}" class="button">{{ button-text }}</a>
  </div>
</div>