<div class="hero-block image-text">
  <div class="hero-image">
  	<img src="{{ hero__image }}" alt="{{ hero__imagealt }}">
  </div>
  
  <div class="hero-text">
	<h1 class="entry-title ">{{ hero__heading }}</h1>
	<p>{{ hero__paragraph }}</p>
	{{render '@button-anchor'}}
  </div>
</div>