<div class="block no-corners icon-above text-left icon-size-x-small">
	<div class="wrap">
		<div class="icon-container">
			<img class="{{ tile__imageclass }}" src="{{ tile__image }}" alt="{{ tile__imagealt }}" />
		</div>
		<h3>{{ tile__heading }}</h3>
		<p>{{ tile__paragraph }}</p>
	</div>
</div>